  .skills-container {
    padding: 70px 10px 0 10px;
    max-width: 1200px;
    margin: 0 auto;
  }  
  
  .app__skills-container {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    @media screen and (max-width: 900px) {
      flex-direction: column;
    }
  }
  
  .app__skills-list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-right: 20px;
    max-height: 100vh;
    overflow-x: scroll;
  
    @media screen and (max-width: 900px) {
      margin-right: 0;
      justify-content: center;
      align-items: center;
    }
  }

  ::-webkit-scrollbar {
    background: transparent; 
  }
  
  .app__skills-item {
    flex-direction: column;
    text-align: center;
    margin: 10px;
    transition: all 0.3s ease-in-out;
  
    div {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      background-color: #fef4f5;
  
      img {
        width: 50%;
        height: 50%;
      }
  
      &:hover {
        box-shadow: 0 0 25px #fef4f5;
      }
  
      @media screen and (max-width: 450px) {
        width: 70px;
        height: 70px;
      }
    }
  
    p {
      font-weight: 500;
      margin-top: 0.5rem;
      
    }
  }
  
  .app__skills-exp {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 1rem 0;

    h4 {
      color: var(--secondary-color);
    }

    p {
        font-size: 16px;
    }
  
    @media screen and (max-width: 900px) {
      margin-left: 7%;
      margin-top: 50px;
    }

  }

  .worker {
    display: block;
    width: 300px;
    margin: 30px auto 0 auto;
  }
